body {
  margin: 0;
  padding: 0;
  }
  
  header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
 
  
  .job-content {
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1em;
  }
  
  h2 {
    color: #333;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 0.5em;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
  }
  
  .FindArticles_btn {
    border-radius: 10px;
    background: #09035a;
    width: 167px;
    height: 50px;
    margin-left: 10px !important;
    flex-shrink: 0;
    color: #fff;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    border-color: #fff transparent;
  }